<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}Training-Factory{% endblock %}
    </title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bootstrap-4.4.1-dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/customCss.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Black+Ops+One&display=swap" rel="stylesheet">
    {% endblock %}
</head>
<body>
{% block header %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <img class="d-lg-block d-none" src="{{ asset('img/training-factory.png') }}" alt="PNG not found">
            </div>
            <div class="col-6">
                <h1 class="booC mt-3 display-3">Training Factory<br>Den Haag </h1>
            </div>
            <div class="col-3 mt-5 text-center">
                {% if app.user %}
                    <p class="dRed display-6">You are logged in as: {{ app.user.username }}</p>
                    {% if is_granted('ROLE_MEMBER') %}
                        - Member -
                    {% elseif is_granted('ROLE_INSTRUCTOR') %}
                        - Instructeur -
                    {% elseif is_granted('ROLE_ADMIN') %}
                        - Admin -
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block nav %}
    <nav class="nav justify-content-center bg-light mb-2">
        <ul class="nav">
            {% block navContent %}

            {% endblock %}
        </ul>
    </nav>
{% endblock %}
{% block pageImg %}
    <div class="container-fluid ">
        <div class="row justify-content-center">
            <div class="col-3">
                <img class="img-fluid d-none d-md-block" src="{{ asset('img/training_1.jpg') }}" alt="Image Not Found">
            </div>
            <div class="col-3">
                <img class="img-fluid d-none d-md-block" src="{{ asset('img/training_2.jpg') }}" alt="Image Not Found">
            </div>
            <div class="col-3">
                <img class="img-fluid d-none d-md-block" src="{{ asset('img/training_3.jpg') }}" alt="Image Not Found">
            </div>
        </div>
    </div>
{% endblock %}
<div class="container-fluid">
    {% block body %}
    {% endblock %}
</div>

{% block javascripts %}

{% endblock %}
{% block footer %}
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <div class="text-center bg-dark p2 fixed-bottom">
                    <h6 class="red pt-2">Training Centrum Den Haag - 010 519 0532</h6>
                    <p> Developed by ROC mondriaan 2019</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>
