{% extends "base.html.twig" %}
{% block navContent %}
    <li class="nav-item dRed">
        <a class="nav-link dRed display-5" href="  {{ path('app_instructor_lessen') }}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link dRed display-5" href="  {{ path('app_instructor_lessen') }}">Plannen lessen</a>
    </li>
    <li class="nav-item ">
        <a class="nav-link dRed display-5" href=" {{ path('app_instructor_les_beheer') }}">Lessen beheer</a>
    </li>
    <li class="nav-item ">
        <a class="nav-link dRed display-5" href=" {{ path('app_instructor_gegevens') }}">Gegevens</a>
    </li>
    {% if app.user %}
        <li class="nav-item">
            <a class="nav-link dRed display-5" href="{{ path('app_logout') }}">Logout</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link dRed display-5" href="{{ path('app_login') }}">Login</a>
        </li>
    {% endif %}
{% endblock %}
{% block pageImg %}
{% endblock %}
{% block body %}
    <div class="row justify-content-center">
        {% block content %}

        {% endblock %}
    </div>
{% endblock %}